html {
    font-family: Roboto, sans-serif;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: #190e0e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 5rem;
}

main {
    text-align: center;
    background-image: url("../kuvat/bg.jpg");
    margin: 0;
    padding: 7rem;
    height: 40rem;
}

.logo {
    height: 100%;
    width: auto;
}

nav {
    height: 100%;
    display: flex;
    align-items: stretch;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}

ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}

li a:hover {
    background-color: teal;
}

img {
    width: 75%;
    height: auto;
    max-height: 35rem;
    object-fit: contain;
}

h1 {
    margin: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 70%)
}

p {
    background-color: rgba(0, 0, 0, 70%);
    padding: 1rem;
}